        <!-- Intro Header -->
        <header class="intro">
                <div class="intro-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                    <blockquote class="quote-box">
                                            <p class="quotation-mark">
                                                “
                                            </p>
                                            <p class="quote-text">
                                                {{quote.quote}} 
                                            </p>
                                            <hr>
                                            <div class="blog-post-actions">
                                                <p class="blog-post-bottom pull-left">
                                                    {{quote.author}}
                                                </p>
                                                <p class="blog-post-bottom pull-right">
                                                    <span class="badge quote-badge">{{randNum}}</span>  ❤
                                                </p>
                                            </div>
                                    </blockquote>
                                    <a *ngIf="!authService.isLoggedIn()" routerLink="/signup" routerLinkActive="active" class="btn btn-circle page-scroll pull-left">
                                        <i class="fa fa-user-plus"></i>
                                    </a>
                                    <a *ngIf="!authService.isLoggedIn()" routerLink="/login" routerLinkActive="active" class="btn btn-circle page-scroll pull-right">
                                        <i class="fa fa-sign-in"></i>
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
