<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<div class="col-md-4"></div>
<div class="col-md-4 offset">
  <div class="login">
    <h2 class="active">sign in</h2>
    <h2 class="nonactive"> <a routerLink="/signup" routerLinkActive="active" >sign up</a> </h2>
    <button type="button" class="signinG" (click)="signInWithGoogle()" style="background-color: brown">
      <i class="fa fa-google"></i> Sign In
    </button>
    <form>
      <input type="email" class="text" name="email">
       <span>email</span>
      <br>
      <br>
      <input type="password" class="text" name="password">
      <span>password</span>
      <br>
      <input type="checkbox" id="checkbox-1-1" class="custom-checkbox" />
      <label for="checkbox-1-1">Keep me Signed in</label>
      <button class="signin">
        Sign In
      </button>
      <hr>
      <a href="#">Forgot Password?</a>
    </form>
  
  </div>
</div>